$color-main:#dcbb9a;
$background-color: #ffffff ;
$color-contenttext: #000000;
$width:100px;
$height:200px;
$text-kub: #fadcba;
$text-kub-font: #000000;
$color-h: #893c00;
$color-th: #e0e0e0;
$color-text-th:#000000;
$color-th-bg:#ffffff;
$color-a: #3d70a1;
$color-button: #3d70a1;
$color-lable: #808080;
$text-transform: capitalize;
$margin-brief: 0 20px 0 0;
$width-brief: 380px; 
