$color-main:rgba(198, 238, 252, 0.53);
$background-color: #3b3b3b;
$color-contenttext: #ffffff;
$width:100px;
$height:200px;
$text-kub: #fff178;
$text-kub-font: #000000;
$color-h: #f5c70f;
$color-th: #94a34e;
$color-text-th: #000000;
$color-th-bg:#677d01;
$color-a: #f5c70f;
$color-button: #F5C70F;
$color-lable: #F5C70F;
$text-transform: uppercase;
$margin-brief: 0 0 30px 0;
$width-brief: 100%; 


